@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
/* font-family: 'Manrope', sans-serif; */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(218, 23%, 16%);
  font-family: "Manrope", sans-serif;
}
main {
  background-color: hsl(217, 19%, 24%);
  border-radius: 0.5rem;
  height: 250px;
  width: 500px;
  padding: 1rem 1rem;
}
p {
  color: hsl(150, 100%, 66%);
  text-align: center;
}
h3 {
  text-align: center;
  color: white;
  padding-top: 1rem;
}
.divider {
  position: sticky;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  margin-top: 5rem;
}
.dice {
  position: absolute;
  left: 25%;
  top: 25%;
}
.dice-border {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  transform: translateX(13.1rem);
  margin-top: 45px;
  /* transform: translateY(0.5rem); */
}
.dice-border:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  main {
    height: 40vh;
    margin: 2rem 1rem;
  }
  .divider {
    width: 83%;
    margin-top: 10rem;
  }
  .dice-border {
    left: 165px;
    top: 575px;
  }
  .dice-border {
    transform: translateX(7rem);
    margin-top: 6px;
  }
}
@media only screen and (max-width: 376px) {
  .dice-border {
    transform: translateX(0.2rem);
    margin-top: 6px;
  }
}
